.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  align-content: space-between;
  justify-content: space-between;
}

.menulista {
  margin: 50px; 
}

.Toinentyyli {
  height: 30vmin;
  width: 80vmax;
}

.Ekatyyli {
  column-count: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5vmin;
  align-items: center;
  background-color: rgb(60, 167, 255);
}

.Nuolipainikkeet {
  padding: 2em;
  background-color: rgb(160, 255, 155);
  justify-content: space-between;
  align-items: stretch;
  /*
  align-items: center;
  height: 10vmin;
  justify-content: space-between;
  place-items: right;
  */
}

.Harjotus1 {
  background-color: aquamarine;
  border  : 3px solid #ea4aaaaa;
  text-align: left;
}

.Harjotus1b {
  background-color: pink;
  border  : 2px solid #242424;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /*
  flex-direction: column;
  */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
